- path = action === 'edit' ? `/courses/${course.id}?_method=PATCH` : '/courses'

form(action=path, method='post')
  - course.errors = course.errors || {};
  if action === 'edit'
    input(type='hidden', name='course[id]', value=course.id)

  .form-group.row(class=course.errors.name ? 'has-danger' : '')
    label.col-2.col-form-label(for='course_name') Name
    .col-10
      input#course_name.form-control(
        name='course[name]',
        type='text',
        value=course.name)
      if course.errors.name
        .form-control-feedback= course.errors.name.message

  .form-group.row(class=course.errors.organization ? 'has-danger' : '')
    label.col-2.col-form-label(for='course_organization') Organization
    .col-10
      input#course_organization.form-control(
        name='course[organization]',
        type='text',
        value=course.organization,
        disabled=action === 'edit')
      if course.errors.organization
        .form-control-feedback= course.errors.organization.message

  .form-group.row(class=course.errors.code ? 'has-danger' : '')
    label.col-2.col-form-label(for='course_code') Code
    .col-10
      input#course_code.form-control(
        name='course[code]',
        type='text',
        value=course.code,
        disabled=action === 'edit')
      if course.errors.code
        .form-control-feedback= course.errors.code.message

  .form-group.row(class=course.errors.shortDescription ? 'has-danger' : '')
    label.col-2.col-form-label(for='course_short_description') Short Description
    .col-10
      input#course_short_description.form-control(
        name='course[shortDescription]',
        type='text',
        value=course.shortDescription)
      if course.errors.shortDesctiption
        .form-control-feedback= course.errors.shortDescription.message

  .form-group.row(class=course.errors.longDescription ? 'has-danger' : '')
    label.col-2.col-form-label(for='course_long_description') Long Description
    .col-10
      textarea#course_long_description.form-control(
        name='course[longDescription]',
        rows='5')
        = course.longDescription
      if course.errors.longDescription
        .form-control-feedback= course.errors.longDescription.message

  .form-group.form-buttons
    if action === 'edit'
      button.btn.btn-primary(type='submit') Save
    else
      button.btn.btn-primary(type='submit') Add Course
    a.btn.btn-secondary(href='/courses') Cancel
