extends /layouts/main

block content
  .d-flex.justify-content-start
    h1 Courses
    .ml-auto.p-1
      a.btn.btn-success(href='/courses/new')
        i.fa.fa-plus
        |  New Course
  if messages.success
    .alert.alert-success(role='alert')
      = messages.success
  table.table
    thead
      tr
        th Name
        th Organization
        th Code
        th Short Description
        th(style='width: 160px;') Actions
    tbody
      each course in courses
        tr
          td= course.name
          td= course.organization
          td= course.code
          td= course.shortDescription
          td.actions
            a.btn.btn-sm.btn-info(href=`/courses/${course.id}`)
              i.fa.fa-search-plus
              |  Show
            a.btn.btn-sm.btn-warning(href=`/courses/${course.id}/edit`)
              i.fa.fa-pencil
              |  Edit
