extends /layouts/main

block content
  h1= course.name

  .form-group.row
    label.col-2.col-form-label
      strong Organization
    .col-10= course.organization

    label.col-2.col-form-label
      strong Code
    .col-10= course.code

    label.col-2.col-form-label
      strong Short Description
    .col-10= course.short_description

    label.col-2.col-form-label
      strong Long Description
    .col-10= course.long_description

  table.table
    thead
      tr
        th(style='width: 10%') Version
        th Change Log

    tbody
      each version in course.versions
        tr
          td
            a(href=`/courses/${course.id}/versions/${version.id}`)
              | #{version.major}.#{version.minor}
          td= version.change_log

  a.btn.btn-primary(href='/courses/' + course.id + '/edit') Edit
