extends /layouts/main

block content
  h1= course.name

  .form-group.row
    label.col-2.col-form-label
      strong Organization
    .col-10= course.organization

    label.col-2.col-form-label
      strong Code
    .col-10= course.code

    label.col-2.col-form-label
      strong Short Description
    .col-10= course.shortDescription

    label.col-2.col-form-label
      strong Long Description
    .col-10= course.longDescription

  .d-flex.justify-content-start
    h2 Versions
    .ml-auto.p-1
      a.btn.btn-success(href=`/courses/${course.id}/versions/new`)
        i.fa.fa-plus
        |  New Version

  table.table
    thead
      tr
        th(style='width: 10%') Version
        th Change Log
        th(style='width: 160px;') Actions

    tbody
      each version in course.versions
        tr
          td
            | #{version.major}.#{version.minor}
          td= version.changeLog
          td.actions
            a.btn.btn-sm.btn-info(href=`/courses/${course.id}/versions/${version.id}`)
              i.fa.fa-download
              |  Download

  a.btn.btn-primary(href='/courses/' + course.id + '/edit') Edit
