nav.navbar.navbar-inverse.bg-inverse.navbar-toggleable-md
  .container
    button.navbar-toggler.navbar-toggler-right(
      type='button',
      data-toggle='collapse',
      data-target='#navbarContainer',
      aria-controls='navbarContainer',
      aria-expanded='false',
      aria-label='Toggle navigation')
      span.navbar-toggler-icon
    a.navbar-brand(href='/') Chell
    #navbarContainer.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        include /includes/menu
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/logout') Log out
